<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Recettes des cocktails</title>
		<link rel="stylesheet" href="{{ asset('assets/style.css') }}">

	</head>
	<body>
		<header>
			<h1>Les meilleurs cocktails du monde!</h1>
			<nav>
				<ul>
					<li><a href="{{ path("home") }}">Home</a></li>
					<li><a href="{{ path("cocktails") }}">Tous les cocktails</a></li>
	
				</ul>
			</nav>
		</header>
	</body>
</html>
