{% extends "base.html.twig" %}

{% block metatitle %}
	Create Cocktail
{% endblock metatitle %}
{% block main %}

	<main>
		<h3>Creation Un Cocktail:</h3>

		<form method="post">
			<div>
				<label for="name">Nom
					<input type="text" name="name">
				</label>
			</div>

			<div>
				<label for="description">Description
					<input type="textarea" name="description">
				</label>
			</div>

			<div>
				<label for="ingrédients">Ingrédients
					<input type="textarea" name="ingredients">
				</label>
			</div>

			<div>
				<label for="image">Image
					<input type="text" name="image">
				</label>
			</div>

			<div>
				<input type="submit">
			</div>

		</form>

	</main>
{% endblock main %}
