{% extends "base.html.twig" %}
{# je fais hériter cette page de base.html.twig -> elle va se baser sur un modele déjà défini #}


{% block main %}
	<main class="container">
		<h3>Les cocktails les plus récents:</h3>
		{% include "partials/_loops-cocktails.html.twig" %}
	</main>
{% endblock main %}

