{% extends "base.html.twig" %}

 {% block metatitle %}
 Liste des cocktails
 {% endblock metatitle %}
{% block main %}

<main>
	<h3>Tous les Cocktails:</h3>
	{% include "partials/_loops-cocktails.html.twig" %}
</main>
{% endblock main %}
